{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Venmo To YNAB 4</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/fav-icon/icon.png' %}">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{% static 'vendor/html5shiv.js' %}' %}"></script>
			<script src="{% static 'vendor/respond.js' %}' %}"></script>
		<![endif]-->
			
	</head>

	<body>
		<div class="main-page-wrapper">

			<!--
			=====================================================
				Page middle banner
			=====================================================
			-->

			<div class="page-middle-banner">
				<div class="opacity">
					<h3>Convert Venmo <span class="p-color">to</span> YNAB4</h3>
					<a href="#" class="hvr-bounce-to-right">View Gihub</a>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->

			<!--
			=====================================================
				File Convert
			=====================================================
			-->
			<div id="contact-section">
					<div class="container">
						<!-- Contact Form -->
						<div class="send-message">
							<form action="{% url "convert" %}" method="post" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="upload-btn-wrapper">
									{{ form.docfile }}
									<button class="tran3s p-color-bg">Choose a File</button>
								</div>
								<button class="tran3s p-color-bg">Convert</button>
								<style>
									.upload-btn-wrapper {
										position: relative;
										overflow: hidden;
										display: inline-block;
										}
									.upload-btn-wrapper input[type=file] {
									font-size: 100px;
									position: absolute;
									left: 0;
									top: 0;
									opacity: 0;
									}
								</style>
							</form>
	
	
							<!-- Contact Form Validation Markup -->
							<!-- Contact alert -->
							<div class="alert-wrapper" id="alert-success">
								<div id="success">
									<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
									<div class="wrapper">
										   <p>Your message was sent successfully.</p>
									 </div>
								</div>
							</div> <!-- End of .alert_wrapper -->
							<div class="alert-wrapper" id="alert-error">
								<div id="error">
									   <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
									   <div class="wrapper">
										   <p>Sorry!Something Went Wrong.</p>
									</div>
								</div>
							</div> <!-- End of .alert_wrapper -->
						</div> <!-- /.send-message -->
					</div> <!-- /.container -->
				</div> <!-- /#contact-section -->
	
			<div class="page-middle-banner">
				<div class="opacity">
					<a href="#" class="hvr-bounce-to-right">See on Gihub</a>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->
				
	        <!--
			=====================================================
				About us Section
			=====================================================
			-->
			<section id="about-us">
				<div class="container">
					<div class="theme-title">
						<h2>ABOUT OUR BIZPRO</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
					</div> <!-- /.theme-title -->

					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">Web Development</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-camera" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">PHOTOGRAPHY</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-life-ring" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">Digital Media</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="single-about-content">
								<div class="icon round-border tran3s">
									<i class="fa fa-line-chart" aria-hidden="true"></i>
								</div>
								<h5><a href="#" class="tran3s">Online Marketing</a></h5>
								<p>Lorem ipsum dolor sit amet, consect et adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
								<a href="#" class="more tran3s hvr-bounce-to-right">More Details</a>
							</div> <!-- /.single-about-content -->
						</div> <!-- /.col -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</section> <!-- /#about-us -->





			<!--
			=====================================================
				Contact Section
			=====================================================
			-->
			<div id="contact-section">
				<div class="container">
					<div class="clear-fix contact-address-content">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div>
								<h2>Contact Info</h2>
								<p>There are many variations of passages of Lorem Ipsum available, but the majori have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a pas of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. <br><br>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua.</p>

								<ul>
									<li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
										<h6>Address</h6>
										<p>Freedom Way, Jersey City, NJ 07305, USA</p>
									</li>
									<li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-phone" aria-hidden="true"></i></div>
										<h6>Phone</h6>
										<p>+88 01911854378</p>
									</li>
									<li>
										<div class="icon tran3s round-border p-color-bg"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
										<h6>Email</h6>
										<p>backpiper.com@gmail.com</p>
									</li>
								</ul>
							</div> <!-- /.left-side -->
						</div> <!-- /.col- -->
					</div> <!-- /.contact-address-content -->



					<!-- Contact Form -->
					<div class="send-message">
						<h2>Send Message</h2>

						<form action="inc/sendemail.php" class="form-validation" autocomplete="off" method="post">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-input">
										<input type="text" placeholder="First Name*" name="Fname">
									</div> <!-- /.single-input -->
								</div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
									<div class="single-input">
										<input type="text" placeholder="Last Name*" name="Lname">
									</div> <!-- /.single-input -->
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
									<div class="single-input">
										<input type="email" placeholder="Your Email*" name="email">
									</div> <!-- /.single-input -->
								</div>
							</div> <!-- /.row -->
							<div class="single-input">
								<input type="text" placeholder="Subject" name="sub">
							</div> <!-- /.single-input -->
							<textarea placeholder="Write Message" name="message"></textarea>


							<button class="tran3s p-color-bg">Send Message</button>
						</form>


						<!-- Contact Form Validation Markup -->
						<!-- Contact alert -->
						<div class="alert-wrapper" id="alert-success">
							<div id="success">
								<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
								<div class="wrapper">
					               	<p>Your message was sent successfully.</p>
					             </div>
					        </div>
					    </div> <!-- End of .alert_wrapper -->
					    <div class="alert-wrapper" id="alert-error">
					        <div id="error">
					           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
					           	<div class="wrapper">
					               	<p>Sorry!Something Went Wrong.</p>
					            </div>
					        </div>
					    </div> <!-- End of .alert_wrapper -->
					</div> <!-- /.send-message -->
				</div> <!-- /.container -->
			</div> <!-- /#contact-section -->



			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer>
				<div class="container">
					<a href="index.html" class="logo"><img src="{% static 'images/logo/logo.png' %}" alt="Logo"></a>

					<ul>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
					</ul>
					<p>Copyright @2018 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
				</div>
			</footer>




			<!-- =============================================
				Loading Transition
			============================================== -->
			<div id="loader-wrapper">
				<div id="preloader_1">
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</div>

			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s p-color-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>




		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

		<!-- Vendor js _________ -->
		
		<!-- revolution -->
		<script src="{% static 'vendor/revolution/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'vendor/revolution/jquery.themepunch.revolution.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.slideanims.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.layeranimation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.navigation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.kenburn.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.actions.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.video.min.js' %}"></script>

		<!-- Google map js -->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ8VrXgGZ3QSC-0XubNhuB2uKKCwqVaD0&callback=goMap" type="text/javascript"></script> <!-- Gmap Helper -->
		<script src="{% static 'vendor/gmaps.min.js' %}"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
		<!-- mixitUp -->
		<script type="text/javascript" src="{% static 'vendor/jquery.mixitup.min.js' %}"></script>
		<!-- Progress Bar js -->
		<script type="text/javascript" src="{% static 'vendor/skills-master/jquery.skills.js' %}"></script>
		<!-- Validation -->
		<script type="text/javascript" src="{% static 'vendor/contact-form/validate.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/contact-form/jquery.form.js' %}"></script>


		<!-- Theme js -->
		<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/map-script.js' %}"></script>

		</div> <!-- /.main-page-wrapper -->
	</body>
</html>