{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Venmo To YNAB 4</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/cabriolet.png' %}">


		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">


		<!-- Fix Internet Explorer ______________________________________-->

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{% static 'vendor/html5shiv.js' %}' %}"></script>
			<script src="{% static 'vendor/respond.js' %}' %}"></script>
		<![endif]-->
			
	</head>

	<body>
		<div class="main-page-wrapper">

			<!--
			=====================================================
				Page middle banner
			=====================================================
			-->

			<div class="page-middle-banner">
				<div class="opacity">
					<h3>Convert Venmo <span class="p-color">to</span> YNAB4</h3>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->

	        <!--
			=====================================================
				How to Section
			=====================================================
			-->
			<section id="how-to">
				<div class="container">
					<div class="theme-title">
						<h2>CONVERSTION</h2>
						<p></p>
						<ul>
							<li>Open the Venmo statement page: <br><a href="https://venmo.com/account/statement" target="_blank">https://venmo.com/account/statement</a></li>
							<li>Select a date range.</li>
							<li>Click "Download CSV".</li>
							<li>Select file below.</li>
							<li>Press submit and download. The converted file should start downloading. </li>
							<li>Open in YNAB 4 with "File"->"Import Transactions from Your Bank".</li>
						</ul>
						
					</div> <!-- /.theme-title -->
				</div> <!-- /.container -->
			</section> <!-- /#how-to -->
			
			<!--
			=====================================================
				File Convert
			=====================================================
			-->
			<div id="convert-section">
				<div class="container">
					<!-- Convert Form -->
					<div class="convert-form">
						<form action="{% url "convert" %}" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{{ form.docfile }}
							<br>
							<button class="tran3s p-color-bg">Convert and Download</button>
						</form>
					</div> <!-- /.convert-form -->
				</div> <!-- /.container -->
			</div> <!-- /#convert-section -->
	
			<div class="page-middle-banner">
				<div class="opacity">
					<a href="https://github.com/jacobhaynes/VenmoToYnab4" target="_blank" class="hvr-bounce-to-right">See on Github</a>
				</div> <!-- /.opacity -->
			</div> <!-- /.page-middle-banner -->

			<!--
			=====================================================
				Footer
			=====================================================
			-->
			<footer>
				<div class="opacity">
					<div class="container">
						Based on template made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>. 
						Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0
					</div>
				</div>>
			</footer>

			<!-- 
			=============================================
				Loading Transition
			============================================== 
			-->
			<div id="loader-wrapper">
				<div id="preloader_1">
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	                <span></span>
	            </div>
			</div>

			
	        <!-- Scroll Top Button -->
			<button class="scroll-top tran3s p-color-bg">
				<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
			</button>

			<!-- Js File_________________________________ -->

			<!-- j Query -->
			<script type="text/javascript" src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>

			<!-- Bootstrap JS -->
			<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

			<!-- Vendor js _________ -->
			
			<!-- revolution -->
			<script src="{% static 'vendor/revolution/jquery.themepunch.tools.min.js' %}"></script>
			<script src="{% static 'vendor/revolution/jquery.themepunch.revolution.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.slideanims.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.layeranimation.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.navigation.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.kenburn.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.actions.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.video.min.js' %}"></script>

			<!-- Google map js -->
			<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ8VrXgGZ3QSC-0XubNhuB2uKKCwqVaD0&callback=goMap" type="text/javascript"></script> <!-- Gmap Helper -->
			<script src="{% static 'vendor/gmaps.min.js' %}"></script>
			<!-- owl.carousel -->
			<script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
			<!-- mixitUp -->
			<script type="text/javascript" src="{% static 'vendor/jquery.mixitup.min.js' %}"></script>
			<!-- Progress Bar js -->
			<script type="text/javascript" src="{% static 'vendor/skills-master/jquery.skills.js' %}"></script>
			<!-- Validation -->
			<script type="text/javascript" src="{% static 'vendor/contact-form/validate.js' %}"></script>
			<script type="text/javascript" src="{% static 'vendor/contact-form/jquery.form.js' %}"></script>


			<!-- Theme js -->
			<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/map-script.js' %}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>